# Copier ce fichier en .env et adapter les valeurs
FLASK_ENV=dev                       # dev | prod
SECRET_KEY=generer-une-cle-aleatoire-longue

# Production MySQL uniquement
MYSQL_HOST=localhost
MYSQL_USER=poissonnerie_app
MYSQL_PASSWORD=motdepasse-fort
MYSQL_DB=poissonnerie
